@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

@import "../node_modules/nord/src/sass/nord.scss";

$primary:    $nord8;
$secondary:  $nord4;
$success:    $nord14;
$info:       $nord7;
$warning:    $nord13;
$danger:     $nord11;
$dark:       #242933;
//$light:      $nord6;
//$dark:       $nord0;

$theme-colors: (
  "primary":   $primary,
  "secondary": $secondary,
  "success":   $success,
  "info":      $info,
  "warning":   $warning,
  "danger":    $danger,
  "light":     $light,
  "dark":      $dark,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

$dark-primary: $nord0;
$dark-secondary: $nord1;
$dark-tertiary: $nord2;
$light-primary: $nord6;
$light-secondary: $nord5;
$light-tertiary: $nord4;
$custom-colors: (
  "dark-primary": $dark-primary,
  "dark-secondary": $dark-secondary,
  "dark-tertiary": $dark-tertiary,
  "light-primary": $light-primary,
  "light-secondary": $light-secondary,
  "light-tertiary": $light-tertiary,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

$nord-colors: (
  "nord0": $nord0,
  "nord1": $nord1,
  "nord2": $nord2,
  "nord3": $nord3,
  "nord4": $nord4,
  "nord5": $nord5,
  "nord6": $nord6,
  "nord7": $nord7,
  "nord8": $nord8,
  "nord9": $nord9,
  "nord10": $nord10,
  "nord11": $nord11,
  "nord12": $nord12,
  "nord13": $nord13,
  "nord14": $nord14,
  "nord15": $nord15
);

$utilities: map-merge(
  $utilities,
  (
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            "dark-primary": $dark-primary,
            "dark-secondary": $dark-secondary,
            "dark-tertiary": $dark-tertiary,
            "light-primary": $light-primary,
            "light-secondary": $light-secondary,
            "light-tertiary": $light-tertiary,
            "nord0": $nord0,
            "nord1": $nord1,
            "nord2": $nord2,
            "nord3": $nord3,
            "nord4": $nord4,
            "nord5": $nord5,
            "nord6": $nord6,
            "nord7": $nord7,
            "nord8": $nord8,
            "nord9": $nord9,
            "nord10": $nord10,
            "nord11": $nord11,
            "nord12": $nord12,
            "nord13": $nord13,
            "nord14": $nord14,
            "nord15": $nord15
          ),
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "background-color"), "values"),
          (
            "dark-primary": $dark-primary,
            "dark-secondary": $dark-secondary,
            "dark-tertiary": $dark-tertiary,
            "light-primary": $light-primary,
            "light-secondary": $light-secondary,
            "light-tertiary": $light-tertiary,
            "nord0": $nord0,
            "nord1": $nord1,
            "nord2": $nord2,
            "nord3": $nord3,
            "nord4": $nord4,
            "nord5": $nord5,
            "nord6": $nord6,
            "nord7": $nord7,
            "nord8": $nord8,
            "nord9": $nord9,
            "nord10": $nord10,
            "nord11": $nord11,
            "nord12": $nord12,
            "nord13": $nord13,
            "nord14": $nord14,
            "nord15": $nord15
          ),
        ),
      ),
    ),
  )
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/utilities/api";