body {
    background: linear-gradient(-45deg, #52eee1, #041925, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


.form-container{
    background-color: rgba(130, 136, 138, 0.63);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;

}

#login{
    position:relative;
    top: 300px;
    left: 300px;
    
}
#signup{
    position:relative;
    top: -150px;
    left: 1000px;
}

#logo{
    font-size: 100px;
   
}