.profile-picture {
  /*position: relative;*/
  border-radius: 50%;
  border: 4px solid #2e3440;
  width: 100px;
}

#profile-bio-section {
  margin: 10px 0 10px 0;
}

#profile-name-holder {
  position: relative;
  bottom: 70px;
  left: 110px;
  font-size: x-large;
}

/*#profile-top-section {*/
/*  position: relative;*/
/*  margin: 0 0 0 0;*/
/*  padding: 0 0 0 0;*/
/*}*/